.doctor_sec {
    background-color: #fcf5f0;
}
.doctor_propfl h3 {
font-size: 25px;
line-height: 1;
color: #000;
font-weight: 600;
margin: 15px 0;
}
.doctor_propfl p {
    font-size: 12px;
    line-height: 1;
    letter-spacing: 2px;
    color: #000;
    font-weight: 600;
}